<!-- CARRUSEL BRANDS -->

<div class="cards-list">
    <div id="top">
        <h2>MARCAS</h2>
    </div>
</div>

<div class="glider-contain">
    <div class="carousellist"></div>
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>



<!-- CATEGORIES -->
<div class="cards-list" id="containerCategories">
    <div id="top">
        <h2>CATEGORIA</h2>
    </div>
</div>



<!-- TYPE CARS -->
<div class="cards-list" id="containertypes">
    <div id="top">
        <h2>TYPES</h2>
    </div>
</div>

<!-- mas visitados -->

<div class="cards-list">
    <div id="top">
        <h2>MAS VISITADOS</h2>
    </div>
</div>

<div class="glider-contain">
    <div class="mas_visitados"></div>
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

<div class="cards-list">
    <div id="top">
        <h2>BOOKS</h2>
    </div>
</div>

<div class="noticiasdiv"></div>

<div class="maslibros-button"></div>
