<br>
<div class="filters"></div>
<div class="map"></div>

<div id="container_shop" class="*"></div>





<div class="glider-contain">
    <div class="carouselfotos"></div>
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

<div id="list_cars"></div>
<div id="pagination" style="text-align: center;"></div>


<div class="date_car"></div>

<div id='map' style='width: 800; height: 300px;'></div>

<div id="titulo_related_cars" style="text-align: center;"></div>
<!-- <div id="top">
    <h2>BOOKS</h2>
</div> -->

<div id="related_cars"></div>

<div class="masrelacionados-button"></div>